.app-footer {
    font-size: 1.4rem;
    height: 3rem;
    flex: 0 0 auto;
    display: inline-flex;
    max-width: 40rem;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background: #feeecb;
    border-radius: 0.6rem;

    @include responsive(mobile) {
        margin: 1rem auto;
    }
}
