.app-footer {
    font-size: 1.4rem;
    height: 3rem;
    flex: 0 0 auto;
    display: inline-flex;
    max-width: 40rem;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background: #feeecb;
    border-radius: 0.6rem;

    &:hover {
        box-shadow: 0 0 0 0.2rem #000;
    }

    @include responsive(mobile) {
        width: calc(100% - 4rem);
        position: fixed;
        bottom: 1rem;
        margin: 1rem auto;
        z-index: 3;
        background: #f8f8f8;
        border: 0.1rem solid #000;
    }
}
