.app-header {
    height: 8rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background: #fff;
    border-radius: 2rem;
    flex: 0 0 auto;

    @include responsive(mobile) {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 1rem;
        border-radius: 1rem;
        position: sticky;
        top: 2rem;
        z-index: 4;
        border: 1px solid #000;
        box-shadow: 0.1rem 0.1rem 0 0.1rem #ffd973;
    }

    .app-logo {
        display: flex;
        align-items: center;
        grid-gap: 1rem;

        @include responsive(mobile) {
            img {
                width: 4rem;
                height: 4rem;
            }
        }

        &-text {
            font-size: 2.6rem;

            .weak-text {
                font-weight: 300;
            }

            @include responsive(mobile) {
                font-size: 1.8rem;
            }
        }
    }

    &-infos {
        .total-votes {
            font-weight: 300;
            font-size: 2rem;

            @include responsive(mobile) {
                font-size: 1.6rem;
            }
        }
    }
}
