.not-found-box {
    background: #fff;
    padding: 2rem;
    max-width: 70rem;
    border-radius: 1rem;

    font-size: 1.8rem;
    margin: 2rem 0;
    min-width: 32rem;
    color: rgb(196, 6, 6);
}
