.employee-detail {
    margin: -4rem 0 -4rem 0;

    @include responsive(mobile) {
        margin: 0;
    }

    .employee-header {
        .employee-name {
            font-size: 3.8rem;
        }
        .employee-title {
            font-size: 2.2rem;
            font-weight: 300;
        }

        @include responsive(mobile) {
            text-align: center;
        }
    }

    .employee-content {
        display: flex;
        margin-top: 2rem;
        grid-gap: 2rem;
        align-items: flex-start;

        @include responsive(mobile) {
            flex-direction: column;
            align-items: center;
        }

        .employee-image {
            background: #fff;
            padding: 1rem;
            border-radius: 2rem;
            display: flex;
            border: 0.2rem solid #cac6c6;
            box-shadow: 0.2rem 0.1rem 0 0.1rem #ffd973;
            z-index: 2;
            aspect-ratio: 1/1;
            background: #f1f1f1;

            img {
                max-width: 30rem;
                border-radius: 1.4rem;

                @include responsive(tablet) {
                    max-width: 25rem;
                }

                @include responsive(mobile) {
                    max-width: 20rem;
                }
            }
        }

        .employee-informations {
            flex: 1 1 auto;
            background: #fff;
            padding: 3rem;
            border-radius: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            grid-gap: 4rem;
            flex-wrap: wrap;
            max-width: 100%;

            @include responsive(mobile) {
                margin-top: -6rem;
                padding-top: 8rem;
            }

            .bio {
                font-size: 1.8rem;
                margin-bottom: 2rem;
                max-width: 60rem;

                @include responsive(mobile) {
                    font-size: 1.8rem;
                }
            }

            .employee-information-list {
                display: grid;
                grid-gap: 0.6rem;
                flex: 1 1 auto;
                p,
                a {
                    display: flex;
                    grid-gap: 1rem;
                    flex-wrap: wrap;
                    word-break: break-all;
                    .employee-information-list-title {
                        font-size: 2rem;
                        font-weight: 500;
                        flex: 0 0 auto;

                        @include responsive(mobile) {
                            font-size: 1.8rem;
                        }
                    }

                    .employee-information-list-content {
                        font-size: 2.2rem;
                        font-weight: 300;
                        text-wrap: wrap;

                        @include responsive(mobile) {
                            font-size: 1.8rem;
                        }
                    }
                }
            }

            .employee-detail-vote-stats {
                background: #f8f8f8;
                border: 0.2rem solid #000;
                box-shadow: 0.2rem 0.1rem 0 0.1rem #ffd973;
                width: 20rem;
                height: 20rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border-radius: 2rem;
                flex: 0 0 auto;

                .vote-stat-perctange {
                    line-height: 1.3;
                    font-size: 4.2rem;
                    font-weight: 500;

                    .weak-text {
                        font-size: 2.4rem;
                        margin-right: 0.4rem;
                    }
                }

                .vote-stat-count {
                    font-size: 1.8rem;
                    font-weight: 300;
                }
            }
        }
    }
}
