.logs-page {
    margin: -4rem 0 -4rem 0;

    @include responsive(mobile) {
        margin: 0;
    }

    .log-list {
        display: grid;
        grid-gap: 1rem;
        padding: 0 0.2rem;
        margin-top: 2rem;
        max-width: 80rem;
    }
}
